* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./bg-3.jpg');
  background-size: cover;
  background-position: center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-bottom: 3px solid black;
  color: black;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .coord {
  display: flex;
}

.coord .lon {
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.coord .lat {
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
} */

.location .city {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.location .date {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  margin-top: 7.5px;
  margin-bottom: 10px;
}

.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 200;
}

.current .temp {
  color: #fff;
  font-size: 112px;
  font-weight: 500;
}

.current .hi-low {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}